{% load static %}

<html>
  <head>
    {% if atom == None %}
    <title>Taxonomy Atoms</title>
    {% else %}
    <title>Taxonomy Atom</title>
    {% endif %}
    <script src="{% static "js/dist/jquery.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "taxonomy/css/taxonomy_help.css" %}">
    <!-- script>
    {% include 'taxtweb_incl.js' %}
      //-->
    </script -->
  </head>
<body>
    <div id="app">
    <h1>Taxonomy Atom: {{ atom.title }}:{{ param.title}}</h1>
    <table class="atom">
      <tr>
        <td>
          Hierarchy
        </td>
        <td>
          <p class="hierarchy0"><a href="../attribute/{{ atom.group.attr.name }}">{{ atom.group.attr.title }}</a>
            (or <a href="../attribute/">all Attributes</a>)</p>
          <p class="hierarchy1 hierarchy_arrow"><a href="../atoms_group/{{ atom.group.name }}">{{ atom.group.title }}</a>
            (or <a href="../atoms_group/">all Atoms Groups</a>)</p>
          <p class="hierarchy2 hierarchy_arrow"><a href="../atom/{{ atom.name }}">{{ atom.title }}</a>
            (or <a href="../atom/">all Atoms</a>)</p>
        </td>
      </tr>
      <tr>
        <td class="highlight">Name: </td><td class="highlight">{{ atom.name }}: {{ param.name}}</td>        
      </tr>
      <tr>
        <td>Title:</td><td>{{ atom.title }}: {{ param.title }}</td>
      </tr>
      {% if atom.desc != '' or param.desc != ''%}
      <tr>
        <td>Description:</td><td>
          {% if atom.desc != '' %}
          {{ atom.desc }}
          {% endif %}
          {% if param.desc != '' %}
          {{ param.desc }}
          {% endif %}
        </td>
      </tr>
      {% endif %}
      <tr>
        <td>
          Enabled by:
        </td>
        <td>
          <table class="elements">
            <tr>
              <th>Name</th><th>Title</th>
            </tr>
          <tr>
            <td><a href="./{{ atom.name }}">{{ atom.name }}</a></td>
            <td>{{ atom.title }}</td>
          </tr>
          </table>
        </td>
      </tr>
    </table>
    </div>
  </body>
</html>
