{% load static %}
<html>
  <head>
    {% if attribute == None %}
    <title>Taxonomy Structures - Attributes</title>
    {% else %}
    <title>Taxonomy Structures - Attribute: {{ attribute.title }}</title>
    {% endif %}
    <script src="{% static "js/dist/jquery.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "taxonomy/css/taxonomy_help.css" %}">
  </head>
  <body>
    {% if attribute == None %}
    <div style="text-align: center;">
      <h1>Taxonomy Structures - Attributes</h1>
    </div>
    <div id="app" style="max-width: 800px; margin: auto;">
      <table class="atom" style="width: 100%;">
        <tr>
          <td style="border: 1px solid #d0d0ff; background-color: #f0f0ff;">
            <p style="font-weight: bold;">Hierarchy</p>
            <p class="hierarchy0"><a href="../attribute/">All Attributes</a></p>
            <p class="hierarchy1 hierarchy_arrow"><a href="../atoms_group/">All Atoms Groups</a></p>
            <p class="hierarchy2 hierarchy_arrow"><a href="../atom/">All Atoms</a></p>
          </td>
        </tr>
      </table>
      <br/>
      <table class="atom" style="width: 100%;">
        <tr>
          <th>Name</th>
          <th>Title</th>
          <th>Menu Score</th>
        </tr>
        {% for attribute in attributes|dictsort:"prog" %}
        <tr>
          <td><a href="{{ attribute.name }}">{{ attribute.name }}</a></td>
          <td>{{ attribute.title }}</td>
          <td>{{ attribute.prog }}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <div style="text-align: center;">
        <h1>Taxonomy Structures - Attribute: {{ attribute.title }}</h1>
      </div>
      <div id="app" style="max-width: 800px; margin: auto;">
        <table class="atom" style="width: 100%;">
          <tr>
            <td style="border: 1px solid #d0d0ff; background-color: #f0f0ff;">
              <p style="font-weight: bold;">Hierarchy</p>
              <p class="hierarchy0"><a href="../attribute/">All Attributes</a></p>
              <p class="hierarchy1 hierarchy_arrow"><a href="../atoms_group/">All Atoms Groups</a></p>
              <p class="hierarchy2 hierarchy_arrow"><a href="../atom/">All Atoms</a></p>
            </td>
          </tr>
        </table>
        <br>
        <table class="atom" style="width: 100%">
          <tr>
            <td class="highlight">Name: </td><td class="highlight">{{ attribute.name }}</td>
          </tr>
          <tr>
            <td>Title:</td><td>{{ attribute.title }}</td>
          </tr>
          <tr>
            <td>
              Members:
            </td>
            <td>
              <table class="elements" style="margin: auto;">
                <tr>
                  <th>Name</th><th>Title</th><th>Visual<br/>Score</th>
                </tr>
                {% for el in attribute.atomsgroup_set.all|dictsort:"prog" %}
                <tr>
                  <td><a href="../atoms_group/{{ el.name }}">{{ el.name }}</a></td>
                  <td>{{ el.title }}</td>
                  <td style="text-align: right;">{{ el.prog }}</td>
                </tr>
                {% endfor %}
              </table>
            </td>
          </tr>
        </table>
        {% endif %}
      </div>
  </body>
</html>
