{% load static %}
<html>
  <head>
    {% if attrs_group == None %}
    <title>Taxtonomy Attributes</title>
    {% else %}
    <title>Taxtonomy Attribute</title>
    {% endif %}
    <script src="{% static "js/dist/jquery.min.js" %}"></script>
    <!-- script>
    {% include 'taxtweb_incl.js' %}
      //-->
    <!-- </script -->
    <link rel="stylesheet" href="{% static "taxonomy/css/taxonomy_help.css" %}">
  </head>
<body>
    <div id="app">
    {% if attribute == None %}
    <h1>Taxtonomy Attributes</h1>
    <table class="atom">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    {% for attribute in attributes %}
      <tr>
        <td><a href="{{ attribute.name }}">{{ attribute.name }}</a></td>
        <td>{{ attribute.desc }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <h1>Taxtonomy Attribute</h1>
    <table class="atom">
      <tr>
        <td>
          Hierarchy
        </td>
        <td>
          <p class="hierarchy0"><a href="../attrs_group/{{ attribute.group.name }}">{{ attribute.group.desc }}</a>
          (or <a href="../attrs_group/">all Attributes Groups</a>)</p>
          <p class="hierarchy1 hierarchy_arrow">(<a href="../attribute/">All Attributes</a>)</p>
          <p class="hierarchy2 hierarchy_arrow">(<a href="../atoms_group/">all Atoms Groups</a>)</p>
          <p class="hierarchy3 hierarchy_arrow">(<a href="../atom/">all Atoms</a>)</p>
        </td>
      </tr>
      <tr>
        <td class="highlight">Name: </td><td class="highlight">{{ attribute.name }}</td>
      </tr>
      <tr>
        <td>Description:</td><td>{{ attribute.desc }}</td>
      </tr>
      <tr>
        <td>
          Members:
        </td>
        <td>
          <table class="elements">
            <tr>
              <th>Name</th><th>Description</th><th>Visual<br/>Score</th>
            </tr>
            {% for el in attribute.atomsgroup_set.all|dictsort:"prog" %}
            <tr>
              <td><a href="../atoms_group/{{ el.name }}">{{ el.name }}</a></td>
              <td>{{ el.desc }}</td>
              <td style="text-align: right;">{{ el.prog }}</td>
            </tr>
            {% endfor %}
            </table>
        </td>
      </tr>
    </table>
    {% endif %}
    </div>
  </body>
</html>
