{% load static %}
<html>
  <head>
    {% if atom == None %}
    <title>Taxonomy Structures - Atoms</title>
    {% else %}
    <title>Taxonomy Structures - Atom</title>
    {% endif %}
    <script src="{% static "js/dist/jquery.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "taxonomy/css/taxonomy_help.css" %}">
    <!-- script>
    {% include 'taxtweb_incl.js' %}
      //-->
    </script -->
  </head>
<body>
    <div id="app">
    {% if atom == None %}
    <h1>Taxonomy Structures - Atoms</h1>
    <table class="atom">
      <tr>
        <td>
          Hierarchy
        </td>
        <td>
          <p class="hierarchy0"><a href="../attribute/">All Attributes</a></p>
          <p class="hierarchy1 hierarchy_arrow"><a href="../atoms_group/">All Atoms Groups</a></p>
          <p class="hierarchy2 hierarchy_arrow"><a href="../atom/">All Atoms</a></p>
        </td>
      </tr>
    </table>
    <br/>
    <table class="atom">
      <tr>
        <th>Name</th>
        <th>Title</th>
      </tr>
    {% for atom in atoms %}
      <tr>
        <td><a href="{{ atom.name }}">{{ atom.name }}</a></td>
        <td>{{ atom.title }}</td>
      </tr>      
      {% endfor %}
      </table>
    {% else %}
    <h1>Taxonomy Structures - Atom: {{ atom.title }}</h1>
    <table class="atom">
      <tr>
        <td>
          Hierarchy
        </td>
        <td>
          <p class="hierarchy0"><a href="../attribute/{{ atom.group.attr.name }}">{{ atom.group.attr.title }}</a>
            (or <a href="../attribute/">all Attributes</a>)</p>
          <p class="hierarchy1 hierarchy_arrow"><a href="../atoms_group/{{ atom.group.name }}">{{ atom.group.title }}</a>
            (or <a href="../atoms_group/">all Atoms Groups</a>)</p>
          <p class="hierarchy2 hierarchy_arrow"><a href="../atom/">All Atoms</a></p>
        </td>
      </tr>
      <tr>
        <td class="highlight">Name: </td><td class="highlight">{{ atom.name }}</td>        
      </tr>
      <tr>
        <td>Title:</td><td>{{ atom.title }}</td>
      </tr>
      {% if atom.desc != '' %}
      <tr>
        <td>Description:</td><td>{{ atom.desc }}</td>
      </tr>
      {% endif %}
      {% if atom.args != None %}
      <tr>
        <td>Arguments:</td>
        <td>
          <table class="atom">
            {% for key, value in atom.args.items %}
            <tr>
              <td>{{ key }}:</td><td>{{ value }}</td>
            </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
      {% endif %}
      {% if atom.params != None %}
      <tr>
        <td>Parameters:</td><td>
          <table class="atom">
          {% for key, value in atom.params.items %}
          <tr>
            <td>{{ key }}:</td><td>{{ value }}</td>
          </tr>
          {% endfor %}
          </table>
        </td>
      </tr>
      {% endif %}
      <tr>
        <td>Type:</td>
        <td>
          <table class="atom">
          {% for key, value in atom.entry_type.items %}
          <tr>
            <td>{{ key }}:</td><td>{{ value }}</td>
          </tr>
          {% endfor %}
          </table>
        </td>
      </tr>
      <tr>
        <td>
          Enabled by:
        </td>
        <td>
          {% if atom.deps.all %}
          <table class="elements">
            <tr>
              <th>Name</th><th>Title</th><th>Menu<br/>Score</th>
            </tr>
            {% for el in atom.deps.all|dictsort:"prog" %}
          <tr>
            <td><a href="./{{ el.name }}">{{ el.name }}</a></td>
            <td>{{ el.title }}</td>
            <td>{{ el.prog }}</td>
          </tr>
          {% endfor %}
          </table>
          {% else %}
          Always visible
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          Enabling:
        </td>
        <td>{% if atom.revdeps.all %}
          <table class="elements">
          <tr>
            <th>Name</th><th>Title</th><th>Menu<br/>Score</th>
          </tr>
          {% for el in atom.revdeps.all|dictsort:"prog" %}
          <tr>
            <td><a href="./{{ el.name }}">{{ el.name }}</a></td>
            <td>{{ el.title }}</td>
            <td style="text-align: right;">{{ el.prog }}</td>
          </tr>
          {% endfor %}
          </table>
          {% else %}
          {%     if atom.params.type == 'options' %}
          {%         if atom.param_set != None %}
          <table class="atom">
            {%             for el in atom.param_set.all|dictsort:"prog" %}
            <tr><td>
                <a href="./{{atom.name}}:{{ el.name }}">{{atom.name}}:{{ el.name }}</a>
              </td>
              <td>
                {{ el.title }}
              </td>
          {%             endfor %}
          </table>
          {%         endif %}
          {%     else %}
          Is a hierarchy leaf.
          {%     endif %}
          {% endif %}
        </td>
      </tr>
    </table>
    {% endif %}
    </div>
  </body>
</html>
