{% load static %}
<html>
  <head>
    {% if atoms_group == None %}
    <title>Taxonomy Structures - Atoms Groups</title>
    {% else %}
    <title>Taxonomy Structures - Atoms Group</title>
    {% endif %}
    <script src="{% static "js/dist/jquery.min.js" %}"></script>
    <!-- script>
    {% include 'taxtweb_incl.js' %}
      //-->
    <!-- </script -->
    <link rel="stylesheet" href="{% static "taxonomy/css/taxonomy_help.css" %}">
  </head>
<body>
    <div id="app">
    {% if atoms_group == None %}
    <h1>Taxonomy Structures - Atoms Groups</h1>
    <table class="atom">
      <tr>
        <td>
          Hierarchy
        </td>
        <td>
          <p class="hierarchy0"><a href="../attribute/">All Attributes</a></p>
          <p class="hierarchy1 hierarchy_arrow"><a href="../atoms_group/">All Atoms Groups</a></p>
          <p class="hierarchy2 hierarchy_arrow"><a href="../atom/">All Atoms</a></p>
        </td>
      </tr>
    </table>
    <br/>
    <table class="atom">
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Menu Score</th>
      </tr>
    {% for atoms_group in atoms_groups%}
      <tr>
        <td><a href="{{ atoms_group.name }}">{{ atoms_group.name }}</a></td>
        <td>{{ atoms_group.title }}</td>
        <td>{{ atoms_group.prog }}</td>
      </tr>
      {% endfor %}
      </table>
    {% else %}
    <h1>Taxonomy Structures - Atoms Group: {{ atoms_group.title }}</h1>
    <table class="atom">
      <tr>
        <td>
          Hierarchy
        </td>
        <td>
          <p class="hierarchy0"><a href="../attribute/{{ atoms_group.attr.name }}">{{ atoms_group.attr.title }}</a>
          (or <a href="../attribute/">All Attributes</a>)</p>
          <p class="hierarchy1 hierarchy_arrow"><a href="../atoms_group/">All Atoms Groups</a></p>
          <p class="hierarchy2 hierarchy_arrow"><a href="../atom/">All Atoms</a></p>
        </td>
      </tr>
      <tr>
        <td class="highlight">Name: </td><td class="highlight">{{ atoms_group.name }}</td>
      </tr>
      <tr>
        <td>Title:</td><td>{{ atoms_group.title }}</td>
      </tr>
      <tr>
        <td>
          Members:
        </td>
        <td>
          <table class="elements">
            <tr>
              <th>Name</th><th>Title</th><th>Menu<br/>Score</th>
            </tr>
            {% for el in atoms_group.atom_set.all|dictsort:"prog" %}
            <tr>
              <td><a href="../atom/{{ el.name }}">{{ el.name }}</a></td>
              <td>{{ el.title }}</td>
              <td style="text-align: right;">{{ el.prog }}</td>
            </tr>
            {% endfor %}
            </table>
        </td>
      </tr>
    </table>
    {% endif %}
    </div>
  </body>
</html>
